.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.text-white {
    color: #fff;
}
a.text-white:hover,
a.text-white:active {
    color: #fff;
}
.p-btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
}
.p-btn.btn-rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.p-btn.btn-red {
    background-color: #FF0509 !important;
    color: #fff;
}
.p-btn.btn-red:hover,
.p-btn.btn-red:active {
    color: #fff;
    text-decoration: none;
}

.g-container {
    width: 1300px;
    margin: 0 auto;
    font: 16px 'AriaMT', sans-serif;
}
.g-container::after {
    content: '';
    display: block;
    clear: both;
}
.general-page .first-block {
    height: 840px;
    background: url('../images/general-page/general-page.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.general-page .first-block .inner {
    padding-top: 220px;
}
.general-page .first-block h1 {
    max-width: 310px;
    margin: 0 auto 100px;
    font: 71px 'PT-Serif-Bold', serif;
    line-height: 65px;
    color: #ec1c24;
    text-align: center;
}
.general-page .first-block h2 {
    max-width: 450px;
    margin: 0 auto 40px;
    font: 48px 'Lobster', serif;
    line-height: 45px;
    color: #000;
    text-align: center;
}
.general-page .first-block p {
    max-width: 450px;
    margin: 0 auto 60px;
    text-align: center;
}
.general-page .first-block a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #95C5E9;
    color: #95C5E9;
}
.general-page .second-block .top {
    padding: 60px 0 100px;
    background: url('../images/general-page/general-page-2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.general-page .second-block h2 {
    margin-bottom: 30px;
    font: 48px 'PT-Serif-BoldItalic', serif;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.simple-link {
    text-decoration: underline;
}
.contest-item {
    position: relative;
    float: left;
    width: calc(50% - 25px);
    margin-top: 40px;
    background-color: #fff;
}
.contest-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
}
.contest-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 0;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
}
.contest-item:nth-child(1) {
    margin-right: 50px;
}
.contest-item .image {
    position: relative;
    display: block;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 2;
}
.contest-item .text {
    position: relative;
    padding: 30px;
    z-index: 2;
}
.contest-item .text h3 {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
}
.contest-item .text h3 a {
    color: #000;
}
.contest-item .text p {
    margin-bottom: 0;
    line-height: 22px;
}
.contest-item .actions {
    margin-top: 50px;
}
.contest-item .actions .p-btn {
    margin-right: 20px;
}
.second-block .bottom {
    padding: 70px 0 50px;
    background-color: #C7DD92;
    text-align: center;
}
.second-block .bottom h2 {
    position: relative;
    margin: 0;
    font: 48px 'PT-Serif-BoldItalic', serif;
    line-height: 48px;
    color: #fff;
}
.second-block .bottom h2 span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #C7DD92;
    padding: 0 100px;
}
.second-block .bottom h2::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background-color: #AABD7C;
}
.second-block .bottom .actions {
    padding-bottom: 70px;
    border-bottom: 1px solid #AABD7C;
    text-align: center;
}
.second-block .bottom .actions a {
    display: inline-block;
    margin: 0 20px;
    text-decoration: underline;
}