.rcp-page {
    display: block;
    position: relative;
}
.rcp-page .header {
    height: 840px;
    background: url('../images/recepie-page/flowers.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.header .header__text {
    position: absolute;
    top: 60px;
    width: 940px;
    text-align: center;
    text-align: -webkit-center;
}
.header__text .title {
    text-align: center;
    text-align: -webkit-center;
    color: #e9291d;
    font-family: 'PT-Serif-Bold';
    font-weight: 400;
    margin: 0 0 50px 0;
    font-size: 45px;
}
.header__text .subtitle {
    text-align: center;
    text-align: -webkit-center;
    color: #000;
    font-size: 48px;
    font-family: 'PT-Serif-Bold';
    font-weight: 400;
    margin: 0 0 30px 0;
}
.header__text .text {
    text-align: center;
    text-align: -webkit-center;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'PT-Serif-Regular';
}
.image-wrapper {
    width: 940px;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -300px;
}
.image-wrapper img {
    width: 100%;
}
/* middle part */
.decoration-page .middle {
    position: relative;
    text-align: center;
    text-align: -webkit-center;
    padding: 50px 0;
}
.rcp-page .middle .middle__text {
    position: relative;
    width: 940px;
    text-align: center;
    text-align: -webkit-center;
    margin: 0 auto;
}
.decoration-page .middle__text {
    padding: 20px;
}
.middle__text .title {
    text-align: center;
    text-align: -webkit-center;
    color: #e9291d;
    font-family: 'PT-Serif-Bold';
    font-weight: 400;
    margin: 0 0 50px 0;
    font-size: 45px;
}
.middle__text .subtitle {
    text-align: center;
    text-align: -webkit-center;
    color: #000;
    font-size: 48px;
    font-family: 'PT-Serif-Bold';
    font-weight: 400;
    margin-bottom: 30px;
}
.middle__text .text {
    text-align: center;
    text-align: -webkit-center;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'PT-Serif-Regular';
}
.middle__text .text-number {
    text-align: center;
    text-align: -webkit-center;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'PT-Serif-Bold';
    font-weight: 800;
}
.middle__text .text-number:last-child {
    margin-bottom: 100px;
}
/* competition-block */
.competition {
    height: 700px;
    background: #ccdc95;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
    position: relative;
}
.competition__wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    margin: 0 auto;
    border: 2px solid #aebc7f;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.competition__wrapper .title {
    text-align: -webkit-center;
    font-size: 48px;
    font-family: 'PT-Serif-BoldItalic';
    font-style: italic;
    font-weight: 400;
    margin-bottom: 30px;
    color: #fff;
    position: absolute;
    top: -45px;
    background: #ccdc95;
    padding: 0 100px;
}
.link {
    padding: 0 0 1px 0;
    border-bottom: 1px solid #337ab7;
}
.competition__text {
    position: relative;
    width: 700px;
    text-align: center;
    text-align: -webkit-center;
    margin: 0 auto;
}
.competition__text .subtitle {
    text-align: center;
    text-align: -webkit-center;
    color: #000;
    font-size: 36px;
    font-family: 'PT-Serif-Regular';
    font-weight: 400;
    margin-bottom: 30px;
}
.competition__text .text {
    text-align: center;
    text-align: -webkit-center;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'PT-Serif-Regular';
}
.competition img {
    position: absolute;
    z-index: 2;
    width: 250px;
}
.competition .left-1 {
    top: 0;
    left: 0;
}
.competition .left-2 {
    top: 200px;
    left: 0;
}
.competition .left-3 {
    bottom: 0;
    left: 0;
}
.competition .right-1 {
    top: 0;
    right: 0;
}
.competition .right-2 {
    top: 200px;
    right: 0;
}
.competition .right-3 {
    bottom: 0;
    right: 0;
}
.special-link {
    margin-right: 60px;
}
/* bottom-block */
.rcp-page .bottom {
    height: auto;
    background: url(../images/recepie-page/bg-1.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 50px 0;
}
.bottom .top__part {
    width: 940px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    text-align: -webkit-center;
    margin-bottom: 50px;
}
.bottom .top__part .cupcake-icon {
    width: 55px;
    height: 47px;
}
.bottom .top__part .title {
    text-align: -webkit-center;
    font-size: 48px;
    font-family: 'PT-Serif-BoldItalic';
    font-style: italic;
    font-weight: 400;
    margin-bottom: 15px;
    color: #fff;
}
.card {
    height: auto;
    background: #fff;
    margin-bottom: 60px;
    display: block;
    position: relative;
}
.card::after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 0;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
}
.card::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
}
.card img {
    width: 100%;
    position: relative;
    z-index: 2;
}
.card .text {
    padding: 15px;
    display: block;
    height: 140px;
    position: relative;
    z-index: 2;
    background: #fff;
}
/* .text-tilted {
    height: 10px;
    position: absolute;
    background: rgba(255, 255, 255, 0.59);
    width: calc(100% - 3px);
    bottom: -5px;
    left: 3px;
    transform: rotate(-1deg);
    z-index: 0;
    border-bottom: 1px solid #ccc3c3;
} */
.card a {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.card .text .title {
    text-align: left;
    text-align: -webkit-left;
    color: #000;
    font-size: 21px;
    font-family: 'PT-Serif-Regular';
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0;
}
/* @media */    
@media screen and (min-width: 1200px) {
    .hide-desktop {
        display: none;
    }
    .hide-mobile {
        display: block;
    }
}
@media screen and (max-width: 1199px) {
    .hide-desktop {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .rcp-page .header {
        background-position: right;
    }
    .middle .middle__text {
        width:  100%;
        padding: 40px;
    }
    .rcp-page .middle .middle__text {
        width: 100%;
    }
    .header .header__text {
        width:  100%;
        padding: 40px;
    }
    .image-wrapper {
        width: 100%;
        margin-top: -200px;
    }
    .rcp-page .competition {
        padding: 80px;
        height: 500px;
    }
    .competition__text .subtitle {
        margin: 0 0 10px 0;
        font-size:  28px;
    }
    .competition__text .text {
        font-size:  14px;
        line-height: 22px;
    }
    .competition__wrapper .title {
        font-size: 36px;
        padding: 0 20px;
    }
    .competition img {
        width: 150px;
    }
    .competition .left-2 {
        top: 150px;
    }
    .competition .right-2 {
        top: 150px;
    }
    .special-link {
        margin-right: 60px;
    }
    .middle__text .text-number:last-child {
        margin-bottom: 20px;
    }
    .bottom .top__part {
        width: 100%;
    }
    .decoration-page .middle {
        padding: 20px;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .rcp-page .header {
        background-position: left;
        height: auto;
    }
    .header__text .title {
        margin-bottom: 30px;
        font-size: 38px;
    }
    .header__text .subtitle {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .header__text .text {
        font-size: 14px;
        line-height: 20px;
    }
    .middle .middle__text {
        width:  100%;
        padding: 20px;
    }
    .header .header__text {
        width: 100%;
        padding: 20px;
        position: relative;
        top: inherit;
        height: auto;
    }
    .rcp-page .middle .middle__text {
        width: 100%;
    }
    .image-wrapper {
        width: 100%;
        margin-top: 0;
    }
    .rcp-page .middle {
        padding-top: 0px;
    }
    .middle__text .subtitle {
        margin: 10px 0 5px 0;
        font-size: 32px;
    }
    .middle__text .text {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .middle__text .text-number:last-child {
        margin-bottom: 20px;
    }
    .rcp-page .competition {
        padding: 40px 20px;
        height: auto;
    }
    .competition__text {
        padding: 20px 5px;
    }
    .competition__text .subtitle {
        margin: 0 0 10px 0;
        font-size:  25px;
    }
    .competition__text .text {
        font-size:  14px;
        line-height: 20px;
    }
    .competition__wrapper .title {
        font-size: 30px;
        padding: 0 20px;
        top: -40px;
    }
    .competition img {
        display: none;
    }
    .special-link {
        margin-right: 30px;
    }
    .bottom .top__part {
        width: 100%;
        padding: 0 10px;
    }
    .bottom .top__part .title {
        font-size: 30px;
    }
    .decoration-page .middle {
        padding: 20px;
    }
}