.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.text-white {
    color: #fff;
}
a.text-white:hover,
a.text-white:active {
    color: #fff;
}
.p-btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
}
.p-btn.btn-rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.p-btn.btn-red {
    background-color: #FF0509 !important;
    color: #fff;
}
.p-btn.btn-red:hover,
.p-btn.btn-red:active {
    color: #fff;
    text-decoration: none;
}
.wrap {
    width: 100%;
    overflow: hidden;
}

body {
    font: 16px Arial, sans-serif;
}

.g-container {
    width: 1300px;
    margin: 0 auto;
}
.g-container::after {
    content: '';
    display: block;
    clear: both;
}
.general-page .first-block {
    height: 840px;
    background: url('../images/general-page/general-page.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.general-page .first-block .inner {
    padding-top: 220px;
}
.general-page .first-block h1 {
    max-width: 360px;
    margin: 0 auto 100px;
    font: 71px 'PT Serif', serif;
    font-weight: bold;
    line-height: 65px;
    color: #ec1c24;
    text-align: center;
}
.general-page .first-block h2 {
    max-width: 450px;
    margin: 0 auto 40px;
    font: 48px 'Lobster', cursive;
    line-height: 45px;
    color: #000;
    text-align: center;
}
.general-page .first-block p {
    max-width: 450px;
    margin: 0 auto 60px;
    text-align: center;
}
.general-page .first-block .go-to-second-screen {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #95C5E9;
    color: #95C5E9;
    cursor: pointer;
}
.general-page .second-block .top {
    padding: 60px 0 100px;
    background: url('../images/general-page/general-page-2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.general-page .second-block h2 {
    margin-bottom: 30px;
    font: 48px 'PT-Serif', serif;
    font-weight: 700;
    font-style: italic;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.general-page .fourth-block {
    padding: 60px 0 80px;
    background: url('../images/general-page/general-page-2.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.general-page .fourth-block h2 {
    margin-bottom: 30px;
    font: 48px 'PT Serif', serif;
    font-weight: 700;
    font-style: italic;
    line-height: 45px;
    text-align: center;
    color: #fff;
}
.general-page .fourth-block .top {
    padding-bottom: 80px;
}
.general-page .fourth-block .bottom .g-container {
    padding-top: 60px;
    border-top: 1px solid #5F9E23;
}
.fourth-block .bottom .decorate {
    margin-bottom: 40px;
}
.decorate .item {
    -webkit-box-shadow: 0 0 16px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 16px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 16px 0 rgba(0,0,0,.2);
}
.simple-link {
    text-decoration: underline;
}
.contest-item {
    position: relative;
    float: left;
    width: calc(50% - 25px);
    margin-top: 40px;
    background-color: #fff;
}
.contest-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
}
.contest-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 0;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.17);
}
.contest-item:nth-child(1) {
    margin-right: 50px;
}
.contest-item .image {
    position: relative;
    display: block;
    z-index: 2;
}
.contest-item .image img {
    display: block;
    width: 100%;
}
.contest-item .text {
    position: relative;
    padding: 30px;
    z-index: 2;
    height: 370px;
}
.br-block__item .text {
    height: 330px;
}
.contest-item .text h3 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: 'PT Serif Caption', serif;
    text-align: center;
}
.contest-item .text h3 a {
    color: #000;
}
.contest-item .text p {
    margin-bottom: 0;
    line-height: 22px;
}
.contest-item .actions {
    /* margin-top: 50px; */
    position: absolute;
    bottom: 20px;
}
.br-block__item .actions {
    /* margin-top: 50px; */
    position: absolute;
    bottom: 20px;
}
.contest-item .actions .p-btn {
    margin-right: 20px;
}
.second-block .bottom {
    position: relative;
    padding: 70px 0 50px;
    background-color: #C7DD92;
    text-align: center;
}
.second-block .bottom h2 {
    position: relative;
    margin: 0 0 40px;
    font: 48px 'PT Serif', serif;
    font-weight: 700;
    font-style: italic;
    line-height: 48px;
    color: #fff;
}
.second-block .bottom h2 span {
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #C7DD92;
    padding: 0 100px;
}
.second-block .bottom h2::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 100px;
    right: 100px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 1px;
    background-color: #AABD7C;
}
.second-block .bottom h3 {
    max-width: 660px;
    margin: 0 auto 50px auto;
    font: 35px 'PT Serif', serif;
    line-height: 60px;
    color: #000;
}
.second-block .bottom .hash-tag {
    margin: 40px 0;
    font: 38px 'PT Serif', serif;
    font-weight: 700;
    color: #000;
}
.second-block .bottom .actions {
    margin-top: 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid #AABD7C;
    text-align: center;
}
.second-block .bottom .actions a {
    display: inline-block;
    margin: 0 30px;
    text-decoration: underline;
}
.second-block .bottom p {
    max-width: 480px;
    margin: 0 auto;
}
.second-block .bottom .left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: calc(100% + 50px);
    background: url('../images/general-page/left.png') no-repeat bottom center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 1;
}
.second-block .bottom .right {
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 450px;
    height: calc(100% + 50px);
    background: url('../images/general-page/right.png') no-repeat bottom center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 1;
}
.flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.flex-box>div {
    width: 50%;
}
.flex-box .left {
    padding: 60px 50px 130px;
    background-color: #fff;
}
.flex-box .left h4 {
    margin: 0;
    font: 28px 'PT Serif Caption', serif;
    color: #000;
    text-align: center;
}
.flex-box .left .text {
    padding: 50px 0;
}
.flex-box .left p {
    margin-bottom: 0;
    line-height: 28px;
}
.flex-box .right {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}
.custom_paging {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 50%;
    padding: 0;
    text-align: center;
    list-style: none;
}
.custom_paging li {
    display: inline-block;
    margin: 0 10px;
    color: #6a98bc;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1360px){
    .g-container {
        width: 100%;
        padding: 0 30px;
    }
    .second-block .bottom .left,
    .second-block .bottom .right {
        display: none;
    }
    .second-block .bottom h2::before {
        left: 0;
        right: 0;
    }
}
@media (max-width: 1100px){
    .contest-item {
        width: 100%;
        margin-right: 0 !important;
    }
    .contest-item:not(:last-child) {
        margin-bottom: 50px;
    }
    .decorate .flex-box {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .decorate .flex-box>div {
        width: 100%;
    }
    .decorate .flex-box .right {
        position: relative;
    }
    .decorate .flex-box .right::before {
        content: '';
        float: left;
        padding-top: 50%;
    }
    .custom_paging {
        right: 0;
        padding: 0 30px;
    }
}
@media (max-width: 992px){
    .general-page .first-block {
        height: auto;
        padding-bottom: 50px;
    }
    .general-page .first-block .inner {
        padding-top: 50px;
    }
}
@media (max-width: 767px){
    .general-page .first-block h1 {
        margin-bottom: 30px;
        font-size: 50px;
        line-height: 55px;
    }
    .general-page .first-block h2 {
        font-size: 35px;
        line-height: 35px;
    }
    .general-page .second-block h2,
    .second-block .bottom h2,
    .general-page .fourth-block h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .g-container {
        padding: 0 20px;
    }
    .contest-item:not(:last-child) {
        margin-bottom: 20px;
    }
    .second-block .bottom h3 {
        font-size: 28px;
        line-height: 40px;
    }
    .flex-box .left {
        padding: 40px 30px 100px;
    }
    .flex-box .left .text {
        padding: 30px 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contest-item .actions {
        text-align: center;
        margin-top: 50px;
        position: relative;
        bottom: initial;
    }
    .br-block__item .actions {
        text-align: center;
        margin-top: 50px;
        position: relative;
        bottom: initial;
    }
    .contest-item .text {
        height: auto;
    }
    .br-block__item .text {
        height: auto;
    }
}
@media (max-width: 440px){
    .general-page .first-block h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .general-page .first-block h2 {
        font-size: 28px;
        line-height: 30px;
    }
    .general-page .first-block p {
        margin-bottom: 35px;
    }
    .general-page .second-block h2,
    .general-page .fourth-block h2 {
        font-size: 26px;
        line-height: 26px;
    }
    .contest-item .actions {
        text-align: center;
        margin-top: 50px;
        position: relative;
        bottom: initial;
    }
    .br-block__item .actions {
        text-align: center;
        margin-top: 50px;
        position: relative;
        bottom: initial;
    }
    .contest-item .text {
        height: auto;
    }
    .br-block__item .text {
        height: auto;
    }
    .contest-item .actions .p-btn {
        margin-right: 0;
    }
    .contest-item .actions .simple-link {
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    .second-block .bottom .hash-tag {
        margin: 30px 0;
        font-size: 30px;
    }
    .second-block .bottom h3 {
        margin-bottom: 30px;
        font-size: 22px;
        line-height: 30px;
    }
    .second-block .bottom h2 span {
        padding: 0 40px;
    }
}
.ytp-cued-thumbnail-overlay-image {
    background-size: cover!important;
    -moz-background-size: cover!important;
    -webkit-background-size: contain!important;
}
.btn-to-main {
    display: block;
    margin: 0 auto;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 20px;
    -webkit-box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    -moz-box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    box-shadow: 0 3px 13px 0 rgba(0,0,0,.17);
    background: #df0024;
    border: none;
    color: #fff;
    height: 35px;
    line-height: 35px;
    width: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-align: -webkit-center;
}
.btn-to-main:focus {
    color: #fff;
    text-decoration: none;
}